<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom1.css" rel="stylesheet"  >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap-bundle.min.js" ></script>

</head>
<body>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Hubungan Pasien</a>
    <a href="#">Jenjang Pendidikan</a>
    <a href="#">Fasilitas Kesehatan</a>
    <a href="#">Produk Kesehatan</a>
    <a href="#">Golongan Darah</a>
    <a href="#">Spesialisasi</a>
    <a href="#">Level Lokasi</a>
    <a href="#">Lokasi</a>
    <a href="#">Jenis Kurir</a>
    <a href="#">Kurir</a>
    <a href="#">Daftar Bank</a>
    <a href="#">Cara Pembayaran</a>
    <a href="#">Hak Akses</a>
    <a href="#">Pengaturan</a>
</div>
<nav class="navbar py-4 navbar-expand-lg navbar-light" style="background-color: #c3f0ff;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../static/img/logo.png" width="187" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <input class="form-control outline-primary me-3 border border-info" type="search" placeholder="Cari Dokter atau Faskes" aria-label="Search">
            <button class="btn btn-primary" type="submit" style="margin-left: 18px"><i class="bi bi-search"></i></button>
            <!--                <button class="btn btn-primary" type="submit" style="margin-left: 20px">Hi, Admin!</button>            </div>-->
        </div>
        <button class="btn btn-primary" type="submit" style="margin-left: 20px">Hi, Admin!</button>            </div>

</nav>
<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div class="row align-items-center">
        <div class="col-md-3 text-center ">
            <a href="#" class="text-decoration-none">
                <img src="/img/patient.svg " width="130" height="130" alt="">
                <h5>Hubungan Pasien</h5></a>
        </div>
        <div class="col-md-2 text-center">
            <a href="#" class="text-decoration-none">
                <img src="/img/education.svg " width="130" height="130" alt="">
                <h5>Jenjang Pendidikan</h5></a>
        </div>
        <div class="col-md-2 text-center mt-4">
            <a href="#" class="text-decoration-none">
                <img src="/img/faskes.svg " width="110" height="110" alt="">
                <h5>Fasilitas Kesehatan</h5></a>
        </div>
        <div class="col-md-2 text-center">
            <a href="#" class="text-decoration-none">
                <img src="/img/product.svg " width="130" height="130" alt="">
                <h5>Produk Kesehatan</h5></a>
        </div>
        <div class="col-md-2 text-center ">
            <a href="#" class="text-decoration-none">
                <img src="/img/blood.svg" width="130" height="130" alt="">
                <h5>Golongan darah</h5></a>
        </div>
        <div class="col-md-3 text-center mt-5">
            <a href="#" class="text-decoration-none">
                <img class="card-img-top" src="/img/specialist.svg">
                <h5>Spesialisasi</h5></a>
        </div>
        <div class="col-md-2 text-center mt-5">
            <a href="#" class="text-decoration-none">
                <img class="card-img-top" src="/img/level-location.svg">
                <h5>Level Lokasi</h5></a>
        </div>
        <div class="col-md-2 text-center mt-5">
            <a href="#" class="text-decoration-none">
                <img class="card-img-top" src="/img/location.svg">
                <h5>Lokasi</h5></a>
        </div>
        <div class="col-md-2 text-center mt-5">
            <a href="#" class="text-decoration-none">
                <img class="card-img-top" src="/img/courier-type.svg">
                <h5>Jenis Kurir</h5></a>
        </div>
        <div class="col-md-2 text-center mt-5">
            <a href="#" class="text-decoration-none">
                <img class="card-img-top" src="/img/courier.svg">
                <h5>Kurir</h5></a>
        </div>
        <div class="col-md-3 text-center mt-5">
            <a href="#" class="text-decoration-none">
                <img class="card-img-top" src="/img/bank.svg">
                <h5>Daftar Bank</h5></a>
        </div>
        <div class="col-md-2 text-center mt-5">
            <a href="#" class="text-decoration-none">
                <img class="card-img-top" src="/img/payment-method.svg">
                <h5>Cara Pembayaran</h5></a>
        </div>
        <div class="col-md-2 text-center mt-5">
            <a href="#" class="text-decoration-none">
                <img src="/img/login.svg" width="130" height="130" alt="">
                <h5>Hak Akses</h5></a>
        </div>
        <div class="col-md-2 text-center mt-5">
            <a href="#" class="text-decoration-none">
                <img class="card-img-top" src="/img/setting.svg">
                <h5>Pengaturan</h5></a>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted"><img src="/img/logo.png" width="187" class="center"></span>
    </div>
</footer>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
    }
</script>

</body>
</html>
