input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    border-color: #843534 !important;
    background-color: #fff !important;
    box-shadow: none !important;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #616161 !important;
    background-color: #fff !important;
    border: 1px solid #ababab !important;
}

input.parsley-error:focus,
select.parsley-error:focus,
textarea.parsley-error:focus {
    border-color: #843534 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
}


ul.parsley-errors-list{
    size: 10px !important;
    color: #843534 !important;
    text-decoration: none;
}
ul.parsley-errors-list li{
    list-style-type:none !important;
}

/*.col-2dot4,*/
/*.col-sm-2dot4,*/
/*.col-md-2dot4,*/
/*.col-lg-2dot4,*/
/*.col-xl-2dot4 {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    min-height: 1px;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*}*/
/*.col-2dot4 {*/
/*    -webkit-box-flex: 0;*/
/*    -ms-flex: 0 0 20%;*/
/*    flex: 0 0 20%;*/
/*    max-width: 20%;*/
/*}*/
/*@media (min-width: 540px) {*/
/*    .col-sm-2dot4 {*/
/*        -webkit-box-flex: 0;*/
/*        -ms-flex: 0 0 20%;*/
/*        flex: 0 0 20%;*/
/*        max-width: 20%;*/
/*    }*/
/*}*/
/*@media (min-width: 720px) {*/
/*    .col-md-2dot4 {*/
/*        -webkit-box-flex: 0;*/
/*        -ms-flex: 0 0 20%;*/
/*        flex: 0 0 20%;*/
/*        max-width: 20%;*/
/*    }*/
/*}*/
/*@media (min-width: 960px) {*/
/*    .col-lg-2dot4 {*/
/*        -webkit-box-flex: 0;*/
/*        -ms-flex: 0 0 20%;*/
/*        flex: 0 0 20%;*/
/*        max-width: 20%;*/
/*    }*/
/*}*/
/*@media (min-width: 1140px) {*/
/*    .col-xl-2dot4 {*/
/*        -webkit-box-flex: 0;*/
/*        -ms-flex: 0 0 20%;*/
/*        flex: 0 0 20%;*/
/*        max-width: 20%;*/
/*    }*/
/*}*/

/*.footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 60px; !* Set the fixed height of the footer here *!*/
/*    line-height: 60px; !* Vertically center the text there *!*/
/*    background-color: #c3f0ff;*/
/*}*/