<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<body>

        <footer th:fragment="footer"  class="footer">
            <div class="container">
                <span class="text-muted"><img src="/img/logo.png" width="187" class="center"></span>
            </div>
        </footer>

</body>
</html>

<!--<footer class="footer">-->
<!--    <div class="container">-->
<!--        <span class="text-muted"><img src="/img/logo.png" width="187" class="center"></span>-->
<!--    </div>-->
<!--</footer>-->
